In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [2]:
group1 = [51,45,33,45,67]
group2 = [23,43,23,43,45]
group3 = [56,76,74,87,56]

In [3]:
df = pd.DataFrame({"GroupA":group1,"GroupB":group2,"GroupC":group3})

In [4]:
df.head()

   GroupA  GroupB  GroupC
0      51      23      56
1      45      43      76
2      33      23      74
3      45      43      87
4      67      45      56

In [6]:
# ANOVA test has an important assumption that must be satisfied in order for the associated 
# p-value to be valid

In [7]:
# The samples are independent
# Each sample forms a normal distribution population
# Ppulation standard  deviation of the groups are all equal and thsi property is called homoscedasticity
# Since the standard deciation are close to each other, an ANOVA test can be performed

In [8]:
stats.f_oneway(group1,group2,group3)

F_onewayResult(statistic=9.747205503009463, pvalue=0.0030597541434430556)

In [10]:
print("""
Since the p-value < 0.05 (alpha = 0.05),
the differences  between the means are statistically significant. 
Hence we reject the null hypothesis i.e. they may be equal

""")

Since the p-value < 0.05 (alpha = 0.05),
the differences  between the means are statistically significant.
Hence we reject the null hypothesis i.e. they may be equal